.heading {
	text-align: center;
	font-size: 40px;
	font-family: $main-font;
	background-color: tomato;
	margin: 0;
	padding: 20px;
}

h2 {
	font-family: $main-font;
	font-size: 32px;
	text-align: center;
	padding: 5px;
	border-bottom: black dotted 2px;
}

h3 {
	font-family: $main-font;
}