//link styles
$link-color: black;
$link-style: none;

//default font
$main-font: Tahoma, sans-serif;

//fun fonts
$playfair: 'Playfair Display SC', serif;
$lato: 'Lato', sans-serif;
$dawn: 'Dawning of a New Day', cursive;